.WelComeContainer {
    /* display: flex; */

    /* height: 100vh; */
    color: aliceblue;
    margin: 100px 0 200px 80px;
    background: transparent;
}

.welcome-Heading {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 2px 2px 8px rgb(53, 141, 159);
    margin-bottom: 20px;
}

.getStart-btn {
    background-color: transparent;
    color: white;
    border: 1px solid rgb(53, 141, 159);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 100%;
    margin-top: 90px;
    /* visibility: hidden; */
    margin-bottom: 20px;
    width: 200px;
    box-shadow: 1px 1px 10px rgb(53, 141, 159);
    animation: btn 3.5s ;
}

.getStart-btn:hover {
    background-color: rgba(53, 141, 159, 0.279); /* Change background color on hover */
    box-shadow: inset 1px 1px 20px rgb(53, 141, 159);
}
@media (max-width:768px){
    .WelComeContainer {
        text-align: center;
        margin: 100px 0 0 0;
    }
    .welcome-Heading {
        font-size: 2rem;
    }

}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
    color: #fff;
    /* font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    /* border-right: .15em solid rgb(53, 141, 159);  */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em;
    animation: 
    typing 3.5s,
    blink-caret .5s step-end ;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from{
        border-color: rgb(53, 141, 159) ;opacity: 0.1;
    } to { border-color: transparent ;border: none;}

  }
  @keyframes btn {
    from{margin-top: 300px;opacity: 0.1;}
    to{margin-top: 90px;
    visibility: visible;}
  }
  p{
    margin-top: 30px;
    animation: fade 3.5s;
    line-height: 1.5em;
  }
  @keyframes fade{
    from{margin-left: -200px;opacity: 0.1;}
    to{margin-left: 0px;}
  }